# Environments
__pycache__/
*.py[cod]
*$py.class
ENV/
.env/

# Secrets
.env

# Python build artifacts
__pycache__/
*.py[cod]

# Data (Avoid pushing raw scrape data if it's too large)
data/raw/new_scrape_*.csv
data/processed
archive/

# has to have reddit_employment database to deploy on Streamlit
!data/raw/reddit_employment.db